@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%; /* Black */
    --foreground: 0 0% 98%; /* Almost White */
    --card: 0 0% 12%; /* Dark Gray */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 150 60% 50%; /* Soft, light tropical green */
    --primary-foreground: 0 0% 4%;
    --secondary: 250 60% 80%; /* Light Lilac */
    --secondary-foreground: 24 9.8% 10%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 64%;
    --accent: 150 60% 50%; /* Soft, light tropical green */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 150 60% 50%; /* Soft, light tropical green */
    --chart-1: 180 60% 90%;
    --chart-2: 25 95% 60%;
    --chart-3: 355 85% 65%;
    --chart-4: 210 70% 60%;
    --chart-5: 330 75% 65%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 0 0% 4%; /* Black */
    --foreground: 0 0% 98%; /* Almost White */
    --card: 0 0% 12%; /* Dark Gray */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 150 60% 50%; /* Soft Light Green */
    --primary-foreground: 0 0% 4%;
    --secondary: 250 60% 80%; /* Light Lilac */
    --secondary-foreground: 24 9.8% 10%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 64%;
    --accent: 150 60% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 150 60% 50%;
    --chart-1: 180 60% 90%;
    --chart-2: 25 95% 60%;
    --chart-3: 355 85% 65%;
    --chart-4: 210 70% 60%;
    --chart-5: 330 75% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
  h1 {
    @apply text-4xl font-bold tracking-tight sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight sm:text-4xl;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply font-sans leading-7;
  }

  @media print {
    body * {
      visibility: hidden;
    }
    #zona-factura,
    #zona-factura * {
      visibility: visible;
    }
    #zona-factura {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      box-shadow: none;
    }
  }
}
